/* .hacemos {
    width: 25%;
    align-self: start;
    margin-left: 5%;
    margin-top: -15%;
  }
   */
.services-section {
  position: relative;
  z-index: 1;
  margin-top: 0% !important;
  background-color: #e9eaf0;
  padding-top: 0 !important;
}

.services-section h3 {
  font-family: "AghartiCondensedSemiLight", sans-serif;
  font-size: 3.5rem;
  font-weight: lighter;
  margin-top: 20%;
  margin-left: 10%;
  /* margin-bottom: 15px; */
  color: #161719;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.services-section h3 img {
  /*width: 100px;  Establecer un tamaño fijo para todas las imágenes */
  /*height: 43px;  Mantener la proporción de la imagen */
  /*margin-left: 10px;  Espacio entre el texto y la imagen */
   vertical-align: middle; /*Asegura que esté alineado correctamente con el texto*/
}

.services-section ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 10%;
}

.services-section li {
  font-family: "Inter_18pt-SemiBold", sans-serif;
  font-size: 12.6px;
  margin-bottom: 3px;
}

.curvy {
  /*max-width: 100px;  Máximo tamaño para las imágenes */
  height: auto; /* Mantener la proporción original */
}

.curvy-marca {
  width: 65px;
  height: 45px;
  margin-left:1.2%;
}

.curvy-digital {
  width: 60px;
  height: 45px;
  margin-left:1.2%;
}

.curvy-media {
  width: 45px;
  height: 45px;
  margin-left:1.2%;
}

.second-line {
  margin-top: -30% !important; /* Reduce este valor para acercar las filas */
  padding-top: 0 !important;
}

.curvy-branding {
  width: 70px;
  height: 45px;
  margin-left:0%;
  margin-top: 3.2%;
  margin-bottom: 3%;
}

.curvy-web {
  width: 30px;
  height: 45px;
  margin-left:1.2%;
}

.curvy-audiovisual {
  width: 90px;
  height: 45px;
  margin-left:1.2%;
}

.cruzado {
  font-family: "AghartiCondensedSemiLight", sans-serif;
  font-size: 220px;
  margin-top: 10%;
  margin-left: 5.2%;
}

.al-otro-lado-section {
  padding: 20px;
  margin-bottom: -4%;
}

.content-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left-side {
  flex: 2;
  /* margin-left: 5%; */
}

.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.otrolado {
  width: 88%;
  max-width: 500px; /* Ajusta el tamaño de la imagen */
  margin-left: 10%;
}

/* .otrolado {
  width: 50%;
  margin-top: 3%;
  margin-left: 5%;
} */
.telita {
  font-family: "Hurtmore", sans-serif;
  font-size: 2rem;
  transform: rotate(-10deg);
  margin-left: 5%;
  margin-top: 11%;
  color: #061599;
}

.flecha {
  width: 100px;
  transform: rotate(-5deg); /* Ajusta la rotación de la flecha */
  margin-left: 10px; /* Ajusta el espacio entre el texto y la flecha */
  margin-top: 45%;
}

@media (max-width: 720px) and (min-height: 1280px) {
  .al-otro-lado-section{
    margin-top: -15%;
    margin-bottom: -25%;
  }
  .services-section h3 {
    font-size: 8rem;
    margin-top: 10%;
    margin-left: 5%;
  }

  .services-section ul {
    margin-left: 5%;
    font-size: 1rem;
  }

  .services-section li {
    font-size: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
  }

  .curvy-marca{
    width: 120px;
    height: 110px;
    margin-left: 2%;
  }

  .curvy-digital, .curvy-media{
    width: 120px;
    height: 103px;
    margin-left: 2%;
  }

  .curvy-branding{
    width: 210px;
    height: 100px;
    margin-left: 2%;
  }

  .curvy-web{
    width: 80px;
    height: 100px;
    margin-left: 2%;
  }
  
  .curvy-audiovisual {
    width: 190px;
    height: 100px;
    margin-left: 2%;
  }

  .second-line {
    margin-top: -10% !important;
    padding-top: 5% !important;
  }

  .cruzado {
    font-size: 3rem;
    margin-top: 5%;
    margin-left: 3%;
  }

  .otrolado {
    width: 305%;
    margin-left: 5%;
    margin-top: -100%;
  }

  .telita {
    font-size: 4rem;
    margin-top: 45%;
    margin-left: -20%; 
    transform: rotate(-5deg);

  }

  .flecha {
    width: 130px;
    margin-left: 0px;
    margin-top: 200%;
  }
}

/* Media queries adicionales para pantallas más pequeñas */
@media (max-width: 576px) {
  .services-section h3 {
    font-size: 2.5rem;
    margin-top: 5%;
    margin-left: 3%;
  }

  .services-section ul {
    margin-left: 3%;
  }

  .services-section li {
    font-size: 8px;
    margin-bottom: 5px;
  }

  .curvy-marca,
  .curvy-digital,
  .curvy-media,
  .curvy-branding,
  .curvy-web,
  .curvy-audiovisual {
    width: 40px;
    height: 35px;
    margin-left: 2%;
  }

  .second-line {
    margin-top: -5% !important;
    padding-top: 0 !important;
  }

  .cruzado {
    font-size: 90px;
    margin-top: 3%;
    margin-left: 2%;
  }

  .otrolado {
    width: 85%;
    margin-left: 5%;
    margin-top: 3%;
  }

  .telita {
    font-size: 1.5rem;
    margin-top: 5%;
  }

  .flecha {
    width: 70px;
    margin-top: 3%;
  }
}
@media (max-width: 1224px) {
  .cruzado {
    font-size: calc(170px + 2.4vw);
  }
}

@media (max-width: 992px) {
  .cruzado {
    font-size: 140px;
  }
}

@media (max-width: 768px) {
  .cruzado {
    font-size: 100px;
  }
}

@media (max-width: 576px) {
  .cruzado {
    font-size: 70px;
  }
}