.spin-logo {
  width: 100%;
  max-width: 250px;
  margin-top: 5%;
  margin-bottom: 20px;
}

img.spin-logo {
  margin-left: 40%;
}

.highlight-text {
  font-family: "Inter_18pt-Light", sans-serif;
  font-size: 50px;
  margin-left: 5%;
  margin-top: 5%;
  position: relative;
  display: inline-block;
}

.acento-container {
  position: relative;
  display: inline-block;
}

.acento-img {
  position: absolute;
  top: -30px; /* Ajusta para posicionar la imagen */
  left: -30px; /* Ajusta según la imagen */
  width: 50px; /* Ajusta el tamaño según sea necesario */
  z-index: 0; /* Coloca la imagen detrás de la letra */
}

.puente-logo {
  height: 80px; /* Tamaño del logo de "puente" */
  vertical-align: baseline;
}

img.puente-logo {
  margin-left: 2%;
  margin-top: 0%;
}

.App-header {
  background-color: #e9eaf0;
}

.fw-bold {
  font-family: "Inter_18pt-ExtraLight", sans-serif;
  font-size: 50px;
  margin-top: -5%;
  margin-right: calc(20% - 60px); /* Ajuste dinámico con calc() */
  text-align: right;
}

.punch {
  display: flex;
  justify-content: space-between; /* Para alinear el texto a la izquierda y el botón a la derecha */
  align-items: flex-start;/* Ajustar aquí para subir el botón */
}

.punch p {
  font-family: "Inter_18-Medium", sans-serif;
  font-size: 1rem;
  text-align: left;
  margin-left: 5%;
  margin-top: 5%;
  width: 65%; /* Ajuste del ancho para evitar que el botón afecte el flujo del texto */
}

.App-link {
  background-color: #c9ea50;
  color: #161719;
  font-family: 'AghartiVF', sans-serif;
  font-size: 30px;
  font-weight: lighter;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  text-align: center;
  padding: 0px 10px;
  margin-right: 0%;
  margin-top: -20px; /* Mueve el botón hacia arriba */
  height: fit-content;
  letter-spacing: -0.5px;
  transform: scaleY(1.2);
}

.yeah {
  width: 40%;
  /* align-self: flex-end; */
  margin-left: 40%;
  margin-top: -6%;
}

.highlight {
  position: relative;
  display: inline-block;
  font-weight: bold; /* O el estilo que quieras darle al texto */
  background-image: url("../../images/details/Linea.png"); /* Ruta de la imagen */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 5px; /* Espacio para la imagen debajo del texto */
}

/* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  } */

/* .fw-bold{
    margin-top: 50%;
  } */
