.contact-section {
    background-color: #161719; /* Fondo oscuro */
    color: white;
    padding: 50px 0; /* Espaciado */
    text-align: center;
    font-family: 'AghartiCondensed', sans-serif;
  }
  
  /* Título grande */
  .big-title {
    font-family: 'AghartiVF', sans-serif;
    font-size: 8rem; /* Tamaño grande para el título */
    text-align: left;
    margin-left: 5%;
    margin-bottom: 15%; /* Separación del contenido */
    color: white;
  }
  
  /* Estilos para los datos de contacto */
  .contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px; /* Ancho máximo para centrar el contenido */
    margin-left: 5%;
    font-family: 'Inter_18pt-SemiBold', sans-serif;
  }
  
  /* Estilos para las dos columnas de contacto */
  .contact-left, .contact-right {
    font-size: 1.6rem;
    line-height: 1;
    text-align: left;
  }
  
  /* Ajustes para pantallas pequeñas */
  @media (max-width: 768px) {
    .contact-info {
      flex-direction: column;
      align-items: center;
    }
  
    .contact-left, .contact-right {
      text-align: center;
      margin-bottom: 20px;
    }
  }