.custom-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
  /* margin-left: auto; */
  /* margin-right: auto; */
  margin-top: -35%;
  background-image:url('../../images/details/textura2.png');
  /* width: calc(50%-20px); */
}
@media (max-width: 768px) {
  .container.custom-container {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
.contact-form {
    /* background-image:url('../../images/details/textura2.png') !important; */
    /* padding: 50px; */
    max-width: 800px;
    margin: -10%;
    font-family: 'Inter_18pt-Regular', sans-serif;
    position: relative;
  }
  
  .form-title {
    font-family: 'Hurtmore', sans-serif;
    font-size: 4.5rem;
    margin-top: 4.3%;
    margin-bottom: 30px;
    text-align: left;
    color: #161719;
  }
  
  .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -10px;
    margin-left: 0;
    margin-right: 0;
    /* width: 100%; */
    /* text-align: left; */
  }

  .form-group2 {
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    /* width: 100%; */
    /* text-align: left; */
  }
  textarea.form-input2 {
    height: 100px;
  }
  
  label {
    font-size: 3rem;
    font-family:'Inter_18pt-semibold' , sans-serif;
    width: 30%;
    /* display: block; */
    /* margin-bottom: 10px; */
    text-align: left;
    margin-left: 15%;
  }
  
  .input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 60%;
    /* justify-content: center; */
  }
  
  .form-input {
    width: 100%;
    border: none;
    border-bottom: 3px solid black;
    padding: 2px;
    margin-right: 30%;
    margin-left: 5%;
    font-size: 1.5rem;
    /* font-family: 'Inter_18pt-Regular', sans-serif; */
    background-color: transparent;
  }
  
  .form-input:focus {
    outline: none;
  }
  
  .star-icon {
    width: 50px;
    position: absolute;
    right: 30%;
    bottom: 20%;
  }
  
  .form-group2 label {
    font-size: 3rem; /* Ajusta según lo necesario */
    width: 100%; /* Puedes ajustar el ancho aquí si es necesario */
    margin-left:15%; /* O ajusta el margen si es necesario */
    /* margin-right: 15%; */
  }

  textarea.form-input {
    width: 68.2%;
    height: 100px;
    margin-right: 35%;
    margin-left: 15%;
  }
  
  .form-group2 h2{
    font-size: 3.2rem;
    font-weight: bold;
    font-family: 'Inter_18pt-Bold';
    text-align: left;
    margin-top: 30px;
    margin-left: 15%;
    padding-right: 10%;
  }
  
  .send-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-top: 20px;
  }
  
  /* .button-container {
    position: relative;
    display: inline-block;
    margin-top: 20px;
  } */
  
  .send-button {
    background-color: #c9ea50;
    color: #161719;
    font-family: 'AghartiCondensed', sans-serif;
    font-size: 3.5rem;
    padding: 0px 20px;
    border: none;
    cursor: pointer;
    margin-right: 16%;
    text-align: center;
  }
  
  .arrow-icon {
    margin-left: 10px;
    width: 50px;
    /* position: absolute;
    top: 78%;
    right: 22%;
    width: 70px; */
  }
  
  .arrow-text {
    position: absolute;
    top: -50%;
    right: 5%;
    font-family: 'Hurtmore', sans-serif;
    color: #061599;
    font-size: 1.2rem;
    transform: rotate(-10deg);
  }
  
  .send-icon {
    width: 50px;
    margin-left: 20px;
  }
  
  .terms-wrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: flex-end;
  }
  
  .terms-wrapper input {
    margin-right: -14.5%;
    margin-bottom: 0.8%;
    background-color: transparent;
    border-color: red;
    border-radius:0;
  }
  
  .terms-wrapper label {
    font-size: 0.9rem;
    color: #161719;
  }