.custom-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: -35%;
  background-image:url('../../images/details/textura2.png');
}
@media (max-width: 768px) {
  .container.custom-container {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
.contact-form {
    background-image:url('../../images/details/textura2.png');
    /* padding: 50px; */
    max-width: 800px;
    margin: -10%;
    font-family: 'Inter_18pt-Regular', sans-serif;
    position: relative;
  }
  
  .form-title {
    font-family: 'Hurtmore', sans-serif;
    font-size: 2.5rem;
    margin-top: 4.3%;
    margin-bottom: 30px;
    text-align: left;
    color: #161719;
  }
  
  .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    /* width: 100%; */
    /* text-align: left; */
  }

  .form-group2 {
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    /* width: 100%; */
    /* text-align: left; */
  }
  textarea.form-input2 {
    height: 100px;
  }
  
  label {
    font-size: 2.4rem;
    font-family:'Inter_18pt-SemiBold' , sans-serif;
    width: 30%;
    /* display: block; */
    /* margin-bottom: 10px; */
    text-align: left;
    margin-left: 20%;
  }
  
  .input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 60%;
    /* justify-content: center; */
  }
  
  .form-input {
    width: 100%;
    border: none;
    border-bottom: 3px solid black;
    padding: 5px;
    margin-right: 35%;
    font-size: 1.5rem;
    /* font-family: 'Inter_18pt-Regular', sans-serif; */
    background-color: transparent;
  }
  
  .form-input:focus {
    outline: none;
  }
  
  .star-icon {
    width: 40px;
    position: absolute;
    right: 10px;
  }
  
  textarea.form-input {
    height: 100px;
  }
  
  .form-group h2{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Inter_18pt-Bold';
    text-align: center;
    margin-top: 30px;
  }
  
  .send-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-top: 20px;
  }
  
  /* .button-container {
    position: relative;
    display: inline-block;
    margin-top: 20px;
  } */
  
  .send-button {
    background-color: #c9ea50;
    color: #161719;
    font-family: 'AghartiCondensed', sans-serif;
    font-size: 1.5rem;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10%;
    text-align: center;
  }
  
  .arrow-icon {
    margin-left: 10px;
    width: 50px;
    /* position: absolute;
    top: 78%;
    right: 22%;
    width: 70px; */
  }
  
  .arrow-text {
    position: absolute;
    top: 40%;
    right: 20%;
    font-family: 'Hurtmore', sans-serif;
    color: #061599;
    font-size: 1rem;
    transform: rotate(-10deg);
  }
  
  .send-icon {
    width: 50px;
    margin-left: 20px;
  }
  
  .terms-wrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
  }
  
  .terms-wrapper input {
    margin-right: 10px;
  }
  
  .terms-wrapper label {
    font-size: 0.9rem;
    color: #161719;
  }