.section-clients {
  background-color: #1c1c1c; /* Ajusta el color de fondo según tu diseño */
  padding: 50px 0;
  margin-bottom: -4.2%;
}

.client-row {
  margin: 0px 2%
}

.client-logo {
  width: 100px;
  max-width: 150px; /* Ajusta el tamaño máximo de los logos */
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.client-logo:hover {
  opacity: 1;
}

.porshe-client {
  height: 13px !important;
  width: auto;
}

.alarbadero-client {
  height: 37px !important; /* Ajusta la altura específica para Alabardero */
  width: auto; /* Mantiene la relación de aspecto */
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto; /* Dos columnas: una para el texto, otra para el botón */
  gap: 50px; /* Espacio entre el texto y el botón */
  justify-content: center; /* Centra ambos elementos en la fila */
  align-items: center; /* Alinea verticalmente ambos elementos */
  margin-bottom: 4%;
}

.quieres {
  font-family: "Inter_18-Bold", sans-serif;
  color: #e9eaf0;
  font-size: 20px;
}
.grid-container .btn-yes {
  background-color: #c9ea50;
  font-family: "AghartiCondensed", sans-serif;
  color: #161719;
  padding: 0px 30px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 0;
  border-color: #c9ea50;
  width: auto;
  height: auto;
  align-items: center;
}

/* Media query para pantallas de 720x1280 */
@media (max-width: 720px) {
  .client-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Crea dos columnas */
    gap: 20px; /* Espacio entre las columnas */
  }

  .client-logo {
    width: 80px; /* Ajusta el tamaño de los logos para pantallas pequeñas */
    max-width: 100px;
  }

  /* Ajustes de botones y textos */
  .grid-container {
    grid-template-columns: 1fr; /* Cambia a una columna en pantallas pequeñas */
    gap: 20px;
  }

  .quieres {
    text-align: center;
    font-size: 18px;
  }

  .grid-container .btn-yes {
    font-size: 24px;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
  }
}