.section-clients {
  background-color: #1c1c1c; /* Ajusta el color de fondo según tu diseño */
  padding: 50px 0;
  margin-bottom: -4.2%;
}

.client-row {
  margin: 0px 2%
}

.client-logo {
  width: 100px;
  max-width: 150px; /* Ajusta el tamaño máximo de los logos */
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.client-logo:hover {
  opacity: 1;
}

.porshe-client {
  height: 13px !important;
  width: auto;
}

.alarbadero-client {
  height: 37px !important; /* Ajusta la altura específica para Alabardero */
  width: auto; /* Mantiene la relación de aspecto */
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto; /* Dos columnas: una para el texto, otra para el botón */
  gap: 50px; /* Espacio entre el texto y el botón */
  justify-content: center; /* Centra ambos elementos en la fila */
  align-items: center; /* Alinea verticalmente ambos elementos */
  margin-bottom: 4%;
}

.quieres {
  font-family: "Inter_18-Bold", sans-serif;
  color: #e9eaf0;
  font-size: 20px;
}
.grid-container .btn-yes {
  background-color: #c9ea50;
  font-family: "AghartiCondensed", sans-serif;
  color: #161719;
  padding: 0px 30px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 0;
  border-color: #c9ea50;
  width: auto;
  height: auto;
  align-items: center;
}

/* Media query para pantallas de 720x1280 */
@media (max-width: 720px) {
  .section-clients {
    background-color: #1c1c1c; /* Ajusta el color de fondo según tu diseño */
    /* padding: 50px 0; */
    margin-bottom: -19.2%;
    margin-top: -4.5%;
  }
  .client-row {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important; /* Crea dos columnas */
    gap: 30px !important; /* Espacio entre las columnas */
    margin: 0px 2% !important;
  }

  .client-logo {
    width: 50%; /* Ajusta el tamaño de los logos para pantallas pequeñas */
    max-width: 150px;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
  }
  .client-logo:hover {
    opacity: 1;
  }

  /* Ajustes de botones y textos */
  .grid-container {
    grid-template-columns: 1fr; /* Cambia a una columna en pantallas pequeñas */
    gap: 20px;
  }

  .quieres,
  .btn-yes {
    display: none;
  }
  
  .lesroches-client{
    margin-left: -28%;
  }

  .luxudise-client{
    margin-left: 0%;
    margin-top: 30%;
  }

  .porshe-client{
    margin-left: 12%;
    margin-top: 35%;
    width: 60%;
  }

  .supermex-client{
    margin-left: 80%;
    margin-top: -15%;
  }

  .maraton-client{
    margin-left: 0%;
    margin-top: 2%;
  }

  .alarbadero-client{
    margin-left: 25%;
    margin-top: 0%;
    width: 80%;
  }

  .segurestil-client{
    margin-right: -10%;
    margin-top: 25%;
    width: 50%;
  }

  .malaga-client{
    margin-top: 2%;
  }

  .qipro-client{
    margin-top: 5%;
  }

  .alma-client{
    margin-top: 40%;
  }
}