.section-clients {
  background-color: #1c1c1c; /* Ajusta el color de fondo según tu diseño */
  padding: 50px 0;
}

.client-logo {
  max-width: 150px; /* Ajusta el tamaño máximo de los logos */
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.client-logo:hover {
  opacity: 1;
}

.quieres {
  font-family: "Inter_18-Bold", sans-serif;
  color: #e9eaf0;
  font-size: 20px;
}
.section-clients .btn-yes {
  background-color: #c9ea50;
  font-family: "AghartiCondensed", sans-serif;
  color: #161719;
  /* padding: 10px 20px; */
  font-size: 50px;
  font-weight: bold;
  border-radius: 0;
  border-color: #c9ea50;
  width: 10%;
  height: 50%;
}
