@font-face {
  font-family: "AghartiVF";
  src: local("AghartiVF"),
    url("./fonts/Agharti/AghartiVF.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AghartiBold";
  src: local("AghartiBold"),
    url("./fonts/Agharti/AghartiBold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AghartiCondensed";
  src: local("AghartiCondensed"),
    url("./fonts/Agharti/AghartiCondensed.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AghartiCondensedSemiLight";
  src: local("AghartiCondensedSemiLight"),
    url("./fonts/Agharti/AghartiCondensedSemiLight.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AghartiExtraCondensed";
  src: local("AghartiExtraCondensed"),
    url("./fonts/Agharti/AghartiExtraCondensed.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AghartiCondensedLight";
  src: local("AghartiCondensedLight"),
    url("./fonts/Agharti/AghartiCondensedLight.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hurtmore";
  src: local("Hurtmore") url("./fonts/Hurtmore.ttf") format("truetype");
}

@font-face {
  font-family: "Inter_18pt-Black";
  src: url("./fonts/Inter/Inter_18pt-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Inter_18pt-Bold";
  src: url("./fonts/Inter/Inter_18pt-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter_18pt-ExtraBold";
  src: url("./fonts/Inter/Inter_18pt-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter_18pt-ExtraLight";
  src: url("./fonts/Inter/Inter_18pt-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Inter_18pt-Italic";
  src: url("./fonts/Inter/Inter_18pt-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Inter_18pt-Light";
  src: url("./fonts/Inter/Inter_18pt-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Inter_18pt-Medium";
  src: url("./fonts/Inter/Inter_18pt-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter_18pt-Regular";
  src: url("./fonts/Inter/Inter_18pt-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter_18pt-SemiBold";
  src: url("./fonts/Inter/Inter_18pt-SemiBold.ttf") format("truetype");
}

/* .container {
  text-align: center;
} */

.App-logo {
  width: 100%;
  max-width: 300px;
  margin-top: 50%;
  margin-bottom: 20px;
  margin-right: auto;
  /* height: 40vmin;
  pointer-events: none; */
}

.highlight-text {
  font-family: "Inter_18pt-ExtraLight", sans-serif;
  /* margin-right: 15px;
  margin-top: 50px; */
  position: relative;
  display: inline-block;
}

.rayo {
  position: absolute;
  top: 34px;
  left: -20px;
  width: 8px;
  height: 25px;
  background-color: #061599;
  border-radius: 50%;
  transform: rotate(70deg);
}

.highlight {
  position: relative;
  display: inline-block;
  font-weight: bold; /* O el estilo que quieras darle al texto */
  background-image: url("./images/details/Linea.png"); /* Ruta de la imagen */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 5px; /* Espacio para la imagen debajo del texto */
}

.highlight-text::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -24px;
  width: 8px;
  height: 25px;
  background-color: #061599;
  border-radius: 50%;
  /* margin-right: 15px; */
  transform: rotate(110deg); /* Ajusta el ángulo según sea necesario */
}

/* Pseudo-elemento para el segundo "rayo" */
.highlight-text::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -20px;
  width: 8px;
  height: 25px;
  background-color: #061599;
  border-radius: 50%;
  transform: rotate(140deg); /* Ajusta el ángulo */
}

/* Elemento base */
/* .highlight-text span {
  position: absolute;
  top: 15px;
  left: 50px;
  width: 8px;
  height: 25px;
  background-color: blue;
  border-radius: 50%;
  transform: rotate(0deg); 
} */

.puente-logo {
  height: 60px; /* Tamaño del logo de "puente" */
  vertical-align: middle;
  margin-top: 60px;
  margin-left: 15px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #e9eaf0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-header h1 {
  font-family: "Inter_18pt-ExtraLight", sans-serif;
  font-size: 2.5rem;
  /* align-self: flex-start; */
}

.fw-bold {
  font-family: "Inter_18pt-ExtraLight", sans-serif;
  font-size: 2rem;
  margin-top: 0;
  margin-right: 0%;
  align-self: flex-end;
  text-align: right;
}

/* .fw-bold{
  margin-top: 50%;
} */

.App-header p {
  font-family: "Agharti", sans-serif;
  font-size: 1rem;
  /* align-self: flex-start; */
  /* text-align: left; */
}
.App-link {
  background-color: #c9ea50;
  color: #161719;
  font-family: "AghartiCondensedSemiLight", sans-serif;
  font-size: 50px;
  font-weight: lighter;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  align-self: flex-end;
  letter-spacing: -0.5px;
  transform: scaleY(1.2);
}

.yeah {
  width: 30%;
  align-self: flex-end;
  margin-right: 10%;
}

.hacemos {
  width: 25%;
  align-self: start;
  margin-left: 10%;
}

.services-section {
  background-color: #e9eaf0;
  margin-top: 0%;
}

.services-section h3 {
  font-family: "AghartiCondensedSemiLight", sans-serif;
  font-size: 3.5rem;
  font-weight: lighter;
  margin-bottom: 15px;
  color: #161719;
}

.services-section ul {
  list-style-type: none;
  padding-left: 0;
}

.services-section li {
  font-family: "Inter_18pt-SemiBold", sans-serif;
  font-size: 1rem;
  margin-bottom: 10px;
}

.curvy {
  width: 16%;
}

.cruzado {
  font-family: "AghartiVF", sans-serif;
  font-size: 5.5rem;
  margin-top: 10%;
  margin-left: 5%;
}
.otrolado {
  width: 50%;
  margin-top: 3%;
  margin-left: 5%;
}
.telita {
  font-family: "Hurtmore", sans-serif;
  font-size: 1.5rem;
  margin-left: 5%;
}

.section-clients {
  background-color: #1c1c1c; /* Ajusta el color de fondo según tu diseño */
  padding: 50px 0;
}

.client-logo {
  max-width: 150px; /* Ajusta el tamaño máximo de los logos */
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.client-logo:hover {
  opacity: 1;
}

.quieres {
  font-family: "Inter_18-Bold", sans-serif;
  color: #e9eaf0;
  font-size: 20px;
}
.section-clients .btn-yes {
  background-color: #c9ea50;
  font-family: "AghartiCondensed", sans-serif;
  color: #161719;
  /* padding: 10px 20px; */
  font-size: 50px;
  font-weight: bold;
  border-radius: 0;
  border-color: #c9ea50;
  width: 10%;
  height: 50%;
}

.projects-section {
  background-color: #e9eaf0; /* Ajusta el color de fondo de la sección si lo deseas */
  padding: 50px 0;
}

.section-title {
  font-family: "Inter_18pt-ExtraBold", sans-serif;
  font-size: 2.5rem;
  color: #161719;
}

.project-card {
  background-color: #e9eaf0;
  border-radius: 0px;
  overflow: hidden;
  /* box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-info small {
  font-family: "Inter_18pt-Bold", sans-serif;
  font-size: 0.875rem;
  color: #161719;
}

.project-info h4 {
  font-family: "Inter_18pt-ExtraBold", sans-serif;
  font-size: 1.3rem;
  color: #161719;
  margin-top: 5px;
}

/* Estilos para el popup */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 254, 254, 0.7); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  position: relative;
  /* background-color: #fff; */
  padding: 20px;
  /* border-radius: 8px; */
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

.popup-content img {
  /* width: 100%; */
  height: auto;
  /* border-radius: 8px; */
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #c9ea50;
  /* color: #061599; */
  /* border: none; */
  /* font-size: 25px; */
  /* padding: 5px 10px; */
  cursor: pointer;
  z-index: 1100;
  border-radius: 50px;
}

.close-btn:hover {
  opacity: 0.8;
}

.carousel-section {
  background-color: #061599; /* Fondo azul */
  padding: 50px 0;
  overflow: hidden;
}

.carousel-row {
  width: 100%;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.carousel-content {
  display: inline-block;
  white-space: nowrap;
  font-size: clamp(3.5rem, 5.8vw + 1rem, 30rem);
  font-family: "Inter_18pt-Medium", sans-serif;
  color: #e9eaf0;
  font-weight: 500;
  margin: 0 30px;
  animation: grain 8s steps(10);
  animation-duration: 35s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.move-right {
  animation-name: moveRight;
}

.move-left {
  animation-name: moveLeft;
}

.icon-star {
  margin: 0 15px;
  width: 6vw;
  max-width: 70px;
  height: auto;
}

.icon-line {
  margin: 0 15px;
  width: 25vw;
  max-width: 220px;
  height: auto;
}

@keyframes moveRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes moveLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes grain {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100px 100px;
  }
}

.grain-effect {
  width: 100%;
  height: 100%;
  /* background: url('grain-texture.png'); */
  animation: grain 8s steps(10) infinite;
}

.contact-form {
  background-image: url("./images/details/textura2.png");
  padding: 50px;
  max-width: 800px;
  margin: 0 auto;
  font-family: "Inter_18pt-Regular", sans-serif;
  position: relative;
}

.form-title {
  font-family: "Hurtmore", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 30px;
  margin-left: 20%;
  color: #161719;
}

.form-group {
  margin-bottom: 30px;
  margin-left: 20%;
  margin-right: 20%;
}

label {
  font-size: 2.5rem;
  font-family: "Inter_18pt-Medium";
  display: block;
  margin-bottom: 10px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.form-input {
  width: 50%;
  border: none;
  border-bottom: 3px solid black;
  padding: 5px;
  font-size: 0.5rem;
  /* font-family: 'Inter_18pt-Regular', sans-serif; */
  background-color: transparent;
}

.form-input:focus {
  outline: none;
}

.star-icon {
  width: 40px;
  position: absolute;
  right: 43%;
}

textarea.form-input {
  height: 100px;
}

.form-group h2 {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Inter_18pt-Bold";
}

.send-wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.button-container {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

.send-button {
  background-color: #c9ea50;
  color: #161719;
  font-family: "AghartiCondensed", sans-serif;
  font-size: 2.5rem;
  padding: 0px 20px;
  border: none;
  cursor: pointer;
  margin-left: 70%;
}

.arrow-icon {
  position: absolute;
  top: 78%;
  right: 22%;
  width: 70px;
}

.arrow-text {
  position: absolute;
  top: 76.5%;
  right: 11%;
  font-family: "Hurtmore", sans-serif;
  color: #061599;
  font-size: 1.2rem;
  transform: rotate(-10deg);
}

.send-icon {
  width: 50px;
  margin-left: 20px;
}

.terms-wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.terms-wrapper input {
  margin-right: 10px;
}

.terms-wrapper label {
  font-size: 0.9rem;
  color: #161719;
}

/* Sección de contacto */
.contact-section {
  background-color: #161719; /* Fondo oscuro */
  color: white;
  padding: 50px 0; /* Espaciado */
  text-align: center;
  font-family: "AghartiCondensed", sans-serif;
}

/* Título grande */
.big-title {
  font-family: "AghartiVF", sans-serif;
  font-size: 8rem; /* Tamaño grande para el título */
  text-align: left;
  margin-left: 5%;
  margin-bottom: 15%; /* Separación del contenido */
  color: white;
}

/* Estilos para los datos de contacto */
.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px; /* Ancho máximo para centrar el contenido */
  margin-left: 5%;
  font-family: "Inter_18pt-SemiBold", sans-serif;
}

/* Estilos para las dos columnas de contacto */
.contact-left,
.contact-right {
  font-size: 1.6rem;
  line-height: 1;
  text-align: left;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .contact-info {
    flex-direction: column;
    align-items: center;
  }

  .contact-left,
  .contact-right {
    text-align: center;
    margin-bottom: 20px;
  }
}

/* Footer section styles */
.footer-section {
  background-color: #e9eaf0;
  padding: 50px 20px;
  text-align: center;
  /* font-family: 'Inter_18pt-Regular', sans-serif; */
  position: relative;
}

/* Social links styling */
.social-links {
  display: flex;
  justify-content: left;
  gap: 50px;
  font-family: "Inter_18pt-Bold";
  font-size: 2.5rem;
  font-weight: bolder;
  margin-bottom: 30px;
  margin-left: 5%;
}

.social-links a {
  text-decoration: none;
  color: black;
}

.social-links .highlighted {
  position: relative;
  color: black;
  /* background-color: #c9ea50; */
  padding: 0 10px;
  border-radius: 5px;
}

/* Vimeo section with the splatter image */
.vimeo-wrapper {
  position: relative;
  display: inline-block;
}

.vimeo-wrapper a {
  position: relative;
  z-index: 1;
}

.splatter-image {
  position: absolute;
  top: -117px;
  right: -120px;
  z-index: 0;
  width: 280%;
  opacity: 0.7;
}

/* Legal links styling */
.legal-links {
  display: flex;
  justify-content: left;
  gap: 30px;
  font-size: 0.9rem;
  margin-bottom: 30px;
  margin-left: 5%;
}

.legal-links a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

/* Footer logo */
.footer-logo img {
  width: 150px;
  margin-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
